.colourpallete{
  background-color: #E1EF7E;
  background-color: #FFAA01;
  background-color: #12B296;
  background-color: #027A9F;
}


#heading {
  background-color: #E1EF7E;
  justify-content: center;
  font-family: 'Rancho', cursive;
  color: #027A9F;
  
}

h1{
  font-family: 'Rancho', cursive;
}

.homedata {
  justify-content: center;
  text-align: center;
}

#rightNow {
  text-align: left;
}

#today {
  text-align: center;
}

#location {
  text-align: right;
}

#searchPanel, #wildcardPanel {
  background-color: #12B296;
  text-align: center;
}

.previousCity {
  border: none;
  margin: 5px;
  max-width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  color: #027A9F;
  background-color: #E1EF7E;
}

#resultsPanel{
  font-family: 'Rancho', cursive;
}

.todayresult {
  margin: 5px;
  font-size: x-large;
}

.wildcard {
    border: none;
    margin: 5px;
    color: #E1EF7E;
    height: 100px;
    width: 200px;
    /* -webkit-text-stroke: 1px blue; */
}

.tropical{
    background-image: url(./island.JPG)
}
.mountain{
    background-image: url(./mountain.JPG)
}
.desert{
    background-image: url(./desert.JPG)
}

.polar{
    background-image: url(./polar.JPG)
}

.area {
  padding-top: 10px;
}


