#heading {
  background-color: chocolate;
  justify-content: center;
}

.homedata {
  justify-content: center;
}

#rightNow {
  text-align: left;
}

#today {
  text-align: center;
}

#location {
  text-align: right;
}

#searchPanel {
  background-color: aquamarine;
}

.previousCity {
  border: none;
  margin: 5px;
  color: cornsilk;
  background-color: #2b039b;
}


.wildcard {
    border: none;
    margin: 5px;
    color: cornsilk;
    height: 100px;
    width: 250px;
    /* -webkit-text-stroke: 1px blue; */
}

.tropical{
    background-image: url(./island.JPG)
}
.mountain{
    background-image: url(./mountain.JPG)
}
.desert{
    background-image: url(./desert.JPG)
}

.polar{
    background-image: url(./polar.JPG)
}

.area {
  padding-top: 10px;
}

.gb {
  background-image: url(https://cdn.pixabay.com/photo/2014/11/21/03/24/landscape-540115_1280.jpg);
}
